<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KutuphaneDb"
         connectionString="Server=127.0.0.1;Port=3306;Database=kutuphanevtys;User ID=root;Password=;SslMode=None;"
         providerName="MySqlConnector" />
  </connectionStrings>
</configuration>
